# Ignorar archivos de configuración sensibles
hardware/fingerprint_TPC_UDP/var_config.h

hardware/interfaz_gui/var_config.h
*.ini
*.env
IA/IA_algorithm/APIs.env
IA/IA_algorithm/route_optimization.log
scripts/env.js
# Ignorar archivos compilados de Arduino
*.elf
*.bin
*.hex
#
# Ignorar archivos del sistema
.DS_Store
Thumbs.db

#ubuntu
.env.save
.env.save.1
gunicorn.log
messages.json
mi_env/
public/scripts/__pycache__/




