# Ignorar archivos de configuración sensibles
hardware/fingerprint_TPC_UDP/var_config.h
hardware/interfaz_gui/var_config.h
*.ini
*.env

# Ignorar archivos compilados de Arduino
*.elf
*.bin
*.hex

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
