body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.message-container {
    margin-bottom: 20px;
}

.message-container h3 {
    margin: 10px 0;
}

.message-box {
    border: 1px solid #000000;
    padding: 10px;
    background-color: #a80000;
    min-height: 50px;
    white-space: pre-wrap; /* Esto es para que se vean saltos de línea */
}
