/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

/* Estilo para encabezados */
h1 {
    color: purple;
}

/* Contenedor de mensajes */
.message-container {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    text-align: left;
}

/* Caja de mensajes */
.message-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 50px; /* Altura mínima */
    overflow-y: auto; /* Scroll si el mensaje es largo */
    max-height: 200px; /* Altura máxima */
    font-size: 14px; /* Tamaño de texto */
    line-height: 1.5; /* Espaciado entre líneas */
    color: #333; /* Color del texto */
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Quita el subrayado */
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: darkviolet;
}



