/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    height: 100vh;
}

/* Contenedor principal con flexbox */
.container {
    display: flex; /* Activa flexbox */
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: stretch; /* Asegura que ambos elementos tengan la misma altura */
    width: 97%;
    height: 80vh;
    margin: 0 auto;
    padding: 1.2rem;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 8px;
}

/* Estiliza el mapa para ocupar el 60% a la izquierda */
#map {
    width: 68%;
    height: 100%;
    margin: 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Caja de mensajes alineada a la derecha ocupando el 40% */
.message-box {
    width: 30%;
    height: 100%; /* Ocupa toda la altura del contenedor */
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    box-sizing: border-box;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Quita el subrayado */
    text-align: center;
    cursor: pointer;
    margin-top: 30px; /* Separación de 2 píxeles con el objeto de arriba */
}


.btn:hover {
    background-color: darkviolet;
}

@media (max-width: 768px) {
    .container {
        height: 60vh; /* Reduce la altura en dispositivos más pequeños */
    }
}
